@import "./base/variables.scss";
@import "./base/reset.scss";
@import "./base/layout.scss";
@import "./base/font-text.scss";
@import "./elements/buttons.scss";
@import "./elements/form.scss";
@import "./modules/_header.scss";
@import "./modules/_footer.scss";
@import "./modules/_c-product-info.scss";
@import "./modules/_c-cv-button.scss";
@import "./modules/_animation.scss";


.u-font-size--desc {
  font-size: 2.3rem;
  line-height: 45px;
  font-weight: bold;

  @include mq-down(sm) {
    font-size: 1.35rem;
    line-height: 25px;
  }
}

body {
  background-color: $logic-beige;
}

.section-hero {
  .hero__content {
    position: relative;
    // background-image: url(../images/topimg.jpg);
    // background-size: contain;
    @include mq-down(sm) {
      // background-image: url(../images/sp/topimg.jpg);
    }
    &:before {
      display: block;
      content: '';
      padding-top: 48.5714%;
      @include mq-down(sm) {
        padding-top: 180.3858%;
      }
    }

    .hero__content__title {
      position: absolute;
      bottom: 11.4vw;
      right: 0;
      left: 0;
      margin: auto;
      width: 71.66vw;
      img {
        width: 100%;
        vertical-align: bottom;
      }
      // @include mq-up(xl) {
      //   width: 1032px;
      //   bottom: 165px;
      // }
      @include mq-down(sm) {
        right: -22px;
        left: -22px;
        width: auto;
        top: 50%;
        bottom: calc(100vw - 20px);
        transform: translateY(-50%);
      }
      .hero__content__title__image {
        width: 71.66vw;
        @include mq-down(sm) {
          width: calc(100vw - 20px);
        }
        // @include mq-up(xl) {
        //   width: 1032px;
        // }
      }
    }

    .hero__content__tategaki {
      position: absolute;
      right: 52px;
      top: -35px;
      width: 87px;
      img {
        width: 100%;
        vertical-align: bottom;
      }
      @include mq-down(lg) {
        width: 6.796vw;
      }
      @include mq-down(sm) {
        top: -48px;
        right: -17px;
        width: 11.73vw;
      }
      .hero__content__tategaki__image {
        width: 87px;
        @include mq-down(lg) {
          width: 6.796vw;
        }
        @include mq-down(sm) {
          width: 11.73vw;
        }
      }
    }

    .hero__content__visual {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      img {
        width: 100%;
        vertical-align: bottom;
      }
    }
  }
}

.section-greeting {
  margin-top: 240px;
  text-align: center;
  @include mq-down(sm) {
    margin-top: 80px;
  }

  .greeting__title {
    margin-bottom: 60px;
    margin-top: -15px;
    line-height: 87px;
    font-size: 5.7rem;
    font-weight: bold;
    @include mq-down(sm) {
      font-size: 2.0rem;
      line-height: 37.5px;
      margin-top: 0;
      margin-bottom: 28px;
    }
  }

  .greeting__desc {
    @extend .u-font-size--desc;
    font-weight: bold;
  }
}

.info__title {
  margin-top: 150px;
  text-align: center;
  margin-bottom: 50px;
  @include mq-down(sm) {
    margin-top: 80px;
    margin-bottom: 14px;
  }
  .info__title__en {
    @extend .latin-fonts-main;
    font-size: 9.0rem;
    line-height: 115px;
    @include mq-down(sm) {
      font-size: 2.75rem;
      line-height: 35px;
    }
    .underline {
      display: inline;
      padding-bottom: 0;
      line-height: 1.05;
      background: linear-gradient(transparent 97%, #000 0%);
      @include mq-down(sm) {
        padding-bottom: 0.02em;
        background: linear-gradient(transparent 95%, #000 0%);
      }
    }
  }
  .info__title__jp {
    font-size: 6.0rem;
    letter-spacing: 0.08em;
    @include mq-down(sm) {
      font-size: 2.0rem;
      margin-top: 4px;
    }
  }
}

.info__product {
  position: relative;
}

.flex-container {
  display: flex;
  @include mq-down(sm) {
    display: block;
  }
}

.info__product__text-container {
  // position: absolute;
  // left: 0;
  // top: 0;
  order: 1;
  z-index: 1;
  width: 100%;
  padding-left: 70px;
  margin-right: -1000px;
  height: 614px;
  @include mq-down(lg) {
    padding-left: 0;
  }

  @include mq-down(sm) {
    position: relative;
    padding-left: 0;
    margin-top: -56px;
    height: 460px;
  }
}

.info__product__title {
  margin-bottom: 22px;
  @include mq-down(sm) {
    line-height: 1;
  }
  .info__product__title__line {
    display: inline-block;
    background-color: $logic-brown;
    color: #fff;
    padding: 11px 16px;
    line-height: 1;
    @include mq-down(sm) {
      padding: 5.5px 7.5px;
    }
    &.info__product__title__line--1 {
      margin-bottom: 6px;
      font-size: 4.1rem;
      letter-spacing: 0.11em;
      @include mq-down(sm) {
        font-size: 1.875rem;
      }
    }
    &.info__product__title__line--2 {
      font-size: 2.8rem;
      letter-spacing: 0.09em;
      @include mq-down(sm) {
        font-size: 1.4rem;
        line-height: 18.5px;
      }
    }
  }
}

.info__product__info {
  width: 401px;
  @include mq-down(lg) {
    max-width: 350px;
  }
  @include mq-down(sm) {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.info__product__cv-button {
  width: 401px;
  @include mq-down(lg) {
    width: 350px;
  }
  @include mq-down(sm) {
    width: auto;
  }
}

.info__product__visual {
  order: 2;
  position: relative;
  width: calc(100vw - 690px);
  max-width: 750px;
  margin-left: auto;
  margin-right: -30px;
  @include mq-down(lg) {
    width: calc(100vw - 560px);
  }
  @include mq-down(sm) {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  img {
    width: 100%;
    vertical-align: bottom;
  }
  .info__product__visual__bagde {
    position: absolute;
    top: 2.9333%;
    right: 2.9333%;
    width: 28.53%;
  }
}

.info__product__bottom-text-animation-content-width {
  width: calc(100vw - 180px);
  @include mq-up(xl) {
    width: calc(1440px - 180px);
  }
  @include mq-down(sm) {
    width: calc(100vw - 64px);
  }
}

.info__product__bottom-text-container {
  margin-top: -45px;
  @include mq-down(lg) {
    margin-top: 40px;
  }
}

.info__product__bottom-text {
  position: relative;
  text-align: center;
  @extend .u-font-size--desc;
  font-weight: bold;
  @include mq-down(sm) {
    // margin-top: 470px;
  }
}


.section-koganeyu {
  padding-top: 250px;
  @include mq-down(sm) {
    padding-top: 200px;
  }
  .koganeyu__title {
    text-align: center;
    font-size: 3.5rem;
    @include mq-down(sm) {
      font-size: 2rem;
    }
    .underline {
      background:linear-gradient($logic-beige 95%, #000 0%);
      padding-bottom: 6px;
      display: inline;
    }
  }

  .koganeyu__content {
    margin-top: 58px;
    display: flex;
    @include mq-down(sm) {
      display: block;
      margin-top: 24px;
    }

    .koganeyu__visual {
      flex: 1 1 50%;
      margin-right: 48px;
      padding-left: 70px;
      @include mq-down(lg) {
        padding-left: 0;
        margin-right: 0;
      }
      img {
        width: 100%;
      }
    }
    
    .koganeyu__text {
      flex: 1 1 50%;
      margin-top: 16px;
      h2 {
        font-size: 2.4rem;
        font-weight: bold;
        @include mq-down(sm) {
          font-size: 1.4rem;
          text-align: center;
          letter-spacing: 0;
        }
      }
      p {
        margin-top: 8px;
        margin-bottom: 30px;
        font-size: 1.8rem;
        font-weight: bold;
        &.small {
          font-size: 1.4rem;
          font-weight: normal;
          @include mq-down(sm) {
            font-size: 1rem;
          }
        }
        @include mq-down(sm) {
          font-size: 1.2rem;
          letter-spacing: 0;
          text-align: justify;
          margin-bottom: 20px;
        }
      }
    }
  }
}

.section-about {
  margin-top: 90px;
  @include mq-down(sm) {
    margin-top: 64px;
  }
  @include mq-down(sm) {
    margin-top: 50px;
  }
  .about__title {
    font-size: 6.0rem;
    line-height: 90px;
    text-align: center;
    @include mq-down(sm) {
      font-size: 2.0rem;
      line-height: 37.5px;
    }
  }
  .about__flow {
    margin-top: 45px;
    padding-left: 135px;
    padding-right: 135px;
    @include mq-down(lg) {
      padding-left: 0px;
      padding-right: 0px;
    }
    img {
      width: 100%;
      vertical-align: bottom;
    }

  }
  .about__box {
    margin-top: 150px;
    margin-left: 135px;
    margin-right: 135px;
    background-color: #fff;
    @include mq-down(lg) {
      margin-top: 72px;
      margin-left: 0px;
      margin-right: 0px;
    }
  }
  .about__box__text {
    padding: 35px 80px 80px;
    @include mq-down(sm) {
      padding: 2px 16px 22px;
    }
    h2 {
      font-size: 1.8rem;
      margin-bottom: 16px;
      margin-top: 40px;
      @include mq-down(sm) {
        font-size: 1.3rem;
        margin-top: 20px;
      }
    }
    h3 {
      font-size: 3.5rem;
      margin-bottom: 1em;
      @include mq-down(sm) {
        font-size: 1.2rem;
      }
      .underline {
        display: inline-block;
        line-height: 2em;
        box-shadow: inset 0px -1px 0px #000;
      }
    }

    ul > li {
      line-height: 2.15;
      position: relative;
      align-items: flex-start;
      @include mq-down(sm) {
        font-size: 1.2rem;
        line-height: 1.875;
      }

      &.dot {
        margin-left: 1em;
        &:before {
          display: block;
          content: '・';
          position: absolute;
          top: 0;
          left: -1em;


        }
      }
      &.kome {
        margin-left: 1em;
        &:before {
          display: block;
          content: '※';
          position: absolute;
          top: 0;
          left: -1em;
        }
        &.kome--has-underline {
          &:before {
          }
        }
        .underline {
          background:linear-gradient(#fff 95%, #000 0%);
          padding-bottom: 6px;
          display: inline;
        }
      }
    }
  }
}

.section-aboutus {
  padding-top: 136px;
  @include mq-down(sm) {
    padding-top: 70px;
  }
  .aboutus__orgs {
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    @include mq-down(lg) {
      padding-left: 0;
      padding-right: 0;
    }
    @include mq-down(sm) {
      display: block;
      padding-left: 18px;
      padding-right: 18px;
    }
    .aboutus__orgs__item {
      flex: 1 1 50%;
      &:not(:first-child) {
        margin-left: 66px;
        @include mq-down(sm) {
          margin-left: 0;
        }
      }

      .aboutus__orgs__item__title {
        text-align: center;
        line-height: 80px;
        margin-bottom: 60px;
        @include mq-down(sm) {
          margin-bottom: 5px;
        }
        &.logic {
          font-family: "TT";
          font-size: 8.0rem;
          letter-spacing: 0.04em;
          @include mq-down(sm) {
            font-size: 3.5rem;
          }
        }

        &.kogane {
          font-size: 7.5rem;
          letter-spacing: 0.08em;
          @include mq-down(sm) {
            font-size: 3.3rem;
            margin-top: 37px;
          }
        }
      }

      .aboutus__orgs__item__visual {
        img {
          width: 100%;
          vertical-align: bottom;
        }
      }

      .aboutus__orgs__item__desc {
        @extend .u-font-size--desc;
        margin-top: 59px;
        text-align: justify;
        @include mq-down(sm) {
          margin-top: 20px;
          letter-spacing: 0.03em;
        }
      }

      .aboutus__orgs__item__link {
        margin: 55px auto 0;
        width: 305px;
        height: 65px;
        border: 2px solid #000;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.8rem;
        font-weight: bold;
        text-decoration: none;
        transition-duration: 0.2s;
        @include mq-down(sm) {
          width: 188px;
          height: 46px;
          margin-top: 22px;
          font-size: 1.65rem;
        }
        &:hover {
          color: #fff;
          background-color: #000;
        }
      }
    }
  }

  .aboutus__message {
    margin-top: 160px;
    text-align: center;
    font-weight: bold;
    @include mq-down(sm) {
      margin-top: 75px;
    }
    .aboutus__message__title {
      font-size: 3.5rem;
      line-height: 45px;
      margin-bottom: 50px;
      @include mq-down(sm) {
        margin-bottom: 27px;
        font-size: 2.0rem;
        line-height: 22.5px;
      }
      .underline {
        display: inline-block;
        line-height: 1.5;
        box-shadow: inset 0px -2px 0px #000;
      }
    }
    .aboutus__message__desc {
      display: inline-block;
      @extend .u-font-size--desc;
    }
  }
}

.section__cv {
  padding-top: 200px;
  @include mq-down(sm) {
    padding-top: 96px;
  }

  .cv__flex-container {
    display: flex;
    padding-left: 115px;
    padding-right: 115px;
    @include mq-down(lg) {
      padding-left: 0px;
      padding-right: 0px;
    }
    @include mq-down(sm) {
      display: block;
      padding-left: 18px;
      padding-right: 18px;
    }

    .cv__left {
      order: 1;
      flex: 0 0 401px;
      width: 401px;
      margin-right: 48px;
      @include mq-down(lg) {
        flex: 0 0 360px;
        width: 360px;
      }
      @include mq-down(sm) {
        flex-basis: auto;
        margin-right: 0;
        width: auto;
      }
    }

    .cv__right {
      flex: 1 1 auto;
      order: 2;
      @include mq-down(lg) {
        flex: 0 0 50%;
        width: 50%;
      }
      @include mq-down(sm) {
        width: auto;
      }
    }

    .cv__title {
      @extend .latin-fonts-main;
      margin-top: -18px;
      margin-bottom: 28px;
      white-space: nowrap;
      font-size: 3.58rem;
      line-height: 52px;
      @include mq-down(sm) {
        margin-top: 18px;
        font-size: 2.16rem;
        line-height: 34.5px;
        text-align: center;
      }
      .underline {
        // display: inline-block;
        // margin-top: 2px;
        // line-height: 28px;
        // box-shadow: inset 0px -2px 0px #000;
        background:linear-gradient($logic-beige 95%, #000 0%);
        padding-bottom: 2px;
        display: inline;
      }
    }

    .cv__visual {
      position: relative;
      width: 100%;
      img {
        width: 100%;
      }

      .cv__visual__bagde {
        position: absolute;
        top: -12.8%;
        right: -17.54%;
        width: 47.36%;
        @include mq-down(sm) {
          width: 45.454545%;
          top: -12%;
          right: -10.6%;
        }
      }
    }

    .cv__product-info {
      
      @include mq-down(sm) {
        max-width: 242px;
        margin: 0 auto;
        // padding-left: 18px;
        // padding-right: 18px;
      }
    }

    .cv__cv-button {
      @include mq-down(sm) {
        margin-left: -18px;
        margin-right: -18px;
        width: calc(100% + 36px);
      }
    }
  }
}
