<meta charset="UTF-8">

<meta content="width=device-width,initial-scale=1" name="viewport">
<link rel="stylesheet" href="@@asset_path/css/shared.css">
<link rel="shortcut icon" href="@@asset_path/images/favicon.ico">

<meta content="MOONCASTLE| 大阪発のメンズニットブランド" property="og:title">
<meta content="MOONCASTLE| 大阪発のメンズニットブランド" property="og:site">
<meta content="website" property="og:tyle">
<meta content="大阪府南部の岬町にあり1966年創業のニット工場が新たにスタートするメンズのニットブランドです。" name="description">
<meta content="https://moon-castle.jp/assets/images/og-image.jpg" property="og:image">
<meta content="true" property="og:reverse">
<meta content="MOONCASTLE| 大阪発のメンズニットブランド" name="og:title" name="twitter:site">
<meta content="summary_large_image" name="twitter:card">
<meta content="https://moon-castle.jp/assets/images/og-image.jpg" name="twitter:image">
<meta content="大阪府南部の岬町にあり1966年創業のニット工場が新たにスタートするメンズのニットブランドです。" property="og:description">
<meta content="" name="keywords">

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>

<script>
  (function(d) {
    var config = {
      kitId: 'lck5afq',
      scriptTimeout: 3000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-164808145-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-164808145-1');
</script>
