<meta charset="UTF-8">

<meta content="width=device-width,initial-scale=1" name="viewport">
<link rel="stylesheet" href="@@asset_path/css/shared.css">
<link rel="shortcut icon" href="@@asset_path/images/favicon.ico">

<meta content="LOGIC" property="og:title">
<meta content="LOGIC" property="og:site">
<meta content="website" property="og:tyle">
<meta content="LOGIC" name="description">
<meta content="" property="og:image">
<meta content="true" property="og:reverse">
<meta content="LOGIC" name="og:title" name="twitter:site">
<meta content="summary_large_image" name="twitter:card">
<meta content="" name="twitter:image">
<meta content="LOGIC" property="og:description">
<meta content="" name="keywords">


<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
