<meta charset="UTF-8">

<meta content="width=device-width,initial-scale=1" name="viewport">
<link rel="stylesheet" href="@@asset_path/css/shared.css">
<link rel="shortcut icon" href="@@asset_path/images/favicon_3232_32x32.png">

<meta content="LOGIC WORKER’S GIFT BOX 『LOGIC × 黄金湯』" property="og:title">
<meta content="LOGIC WORKER’S GIFT BOX 『LOGIC × 黄金湯』" property="og:site">
<meta content="website" property="og:tyle">
<meta content="60秒で完了するミニマル・スキンケア『LOGIC』×『黄金湯』の限定コラボ。スキンケア×サウナで“ととのう“スペシャルギフトボックス登場。" name="description">
<meta content="https://gift.logic.tokyo/assets/images/logic_koganeyu_ogimage.jpg" property="og:image">
<!-- <meta content="true" property="og:reverse"> -->
<meta content="LOGIC WORKER’S GIFT BOX 『LOGIC × 黄金湯』" name="og:title" name="twitter:site">
<meta content="summary_large_image" name="twitter:card">
<meta content="https://gift.logic.tokyo/assets/images/logic_koganeyu_ogimage.jpg" name="twitter:image">
<meta content="60秒で完了するミニマル・スキンケア『LOGIC』×『黄金湯』の限定コラボ。スキンケア×サウナで“ととのう“スペシャルギフトボックス登場。" property="og:description">
<meta content="LOGIC, ロジック, スキンケア, メンズ, メンズコスメ, ギフト, プレゼント, クリスマス, サウナ, 黄金湯, 銭湯, 洗顔, 化粧水
" name="keywords">