.c-cv-button {
  margin-top: 45px;
  width: 100%;
  height: 86px;
  .c-cv-button__button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-radius: 10px;
    font-size: 3.8rem;
    letter-spacing: 0.08em;
    transition-duration: 0.2s;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    @include mq-down(sm) {
      margin-top: 35px;
      height: 75px;
      font-size: 2.5rem;
      border-radius: 5px;
    }
  }
  &:hover {
    color: #000;
    background-color: #fff;
    transition-duration: 0.2s;
  }

  .is-disabled {
    background-color: #BBB3AB;
    color: #fff;
  }
}